<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/lobibox/dist/css/lobibox.min.css"/>
</head>
<body>
    <%- body %>
</body>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/lobibox/dist/js/lobibox.min.js"></script>
<%- script %>
</html>