<h3 style="width: 80%; margin: auto; border-radius: 20px; border: 2px solid green; padding: 10px; background-color: chartreuse; color : green">Your account is successfully confirmed!</h3>

<script>
    setTimeout(function() {
        console.log('aa')
        location.href = "/login"
    }, 5000)
</script>

